<footer>
    <div class="container d-flex justify-content-center align-content-start">
        <div class="d-flex justify-content-around align-content-start flex-grow-1 flex-mobile-column">
            <div class="d-flex align-content-start flex-column flex-grow-1">
                <div data-toggle="collapse" class="taber" data-parent="#accordion" href="#collapseZero" aria-expanded="false"
                    aria-controls="collapseZero">
                    <p class="lead font-weight-bold">About Us</p>
                </div>
                <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
                    <ul>
                        <li><a href="#">Our Company</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Newsroom</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-flex align-content-center flex-column flex-grow-1">
                <div data-toggle="collapse" class="taber" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                    aria-controls="collapseOne">
                    <p class="lead font-weight-bold">Career Center</p>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <ul>
                        <li><a href="#">Working at Cookie Stop</a></li>
                        <li><a href="#">Scholarships</a></li>
                        <li><a href="#">Current Partners</a></li>
                        <li><a href="#">Corporate Careers</a></li>
                        <li><a href="#">Retail Careers</a></li>
                        <li><a href="#">International Careers</a></li>
                        <li><a href="#">Manufacturing and Distribution</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-flex align-content-center flex-column flex-grow-1">
                <div class="taber" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" aria-expanded="false"
                    aria-controls="collapseOne">
                    <p class="lead font-weight-bold">For Business</p>
                </div>
                <div id="collapsetwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <ul>
                        <li><a href="#">Office Cookies</a></li>
                        <li><a href="#">Cookie Stop International</a></li>
                        <li><a href="#">Food Service</a></li>
                        <li><a href="#">Licensed Stores</a></li>
                        <li><a href="#">Cookie Stop Card Corporate</a></li>
                        <li><a href="#">Landlord Support Center</a></li>
                        <li><a href="#">Suppliers</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-flex align-content-center flex-column flex-grow-1">
                <div class="taber" data-toggle="collapse" data-parent="#accordion" href="#collapsethree" aria-expanded="false"
                    aria-controls="collapseOne">
                    <p class="lead font-weight-bold">Online Community</p>
                </div>
                <div id="collapsethree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Pinterest</a></li>
                        <li><a href="#">Linked In</a></li>
                        <li><a href="#">Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 col-sm-6 mt-2 mb-2">
                &copy; &nbsp; Cookie Stop | <a href="https://github.com/RaysOfTheSun/cooki-e-commerce">RaysOfTheSun</a>
            </div>
        </div>
    </div>
</footer>