<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div data-toggle="collapse" class="taber" data-parent="#accordion" href="#collapseZero" aria-expanded="false"
                    aria-controls="collapseZero">
                    <p class="lead">About Us</p>
                </div>
                <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
                    <ul>
                        <li><a href="#">Our Company</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Newsroom</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div data-toggle="collapse" class="taber" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                    aria-controls="collapseOne">
                    <p class="lead">Carreer Center</p>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <ul>
                        <li><a href="#">Working at Cookie Stop</a></li>
                        <li><a href="#">Scholarships</a></li>
                        <li><a href="#">Current Partners</a></li>
                        <li><a href="#">Corporate Careers</a></li>
                        <li><a href="#">Retail Careers</a></li>
                        <li><a href="#">International Careers</a></li>
                        <li><a href="#">Manufacturing and Distribution</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="taber" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" aria-expanded="false"
                    aria-controls="collapseOne">
                    <p class="lead">For Business</p>
                </div>
                <div id="collapsetwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <ul>
                        <li><a href="#">Office Cookies</a></li>
                        <li><a href="#">Cookie Stop International</a></li>
                        <li><a href="#">Foodservice</a></li>
                        <li><a href="#">Licensed Stores</a></li>
                        <li><a href="#">Cookie Stop Card Corporate Sales</a></li>
                        <li><a href="#">Landlord Support Center</a></li>
                        <li><a href="#">Suppliers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="taber" data-toggle="collapse" data-parent="#accordion" href="#collapsethree" aria-expanded="false"
                    aria-controls="collapseOne">
                    <p class="lead">Online Community</p>
                </div>
                <div id="collapsethree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Pinterest</a></li>
                        <li><a href="#">Linked In</a></li>
                        <li><a href="#">Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 col-sm-6 mt-2 mb-2">
                &copy; &nbsp; Cookie Stop
            </div>
        </div>
    </div>
</footer>