<div class="first-banner">
    <div class="container-fluid">
        <div class="wrap-30">
            <div class="container">
                <div class="row">
                    <div class="m-5-1r">
                        <p class="text-uppercase text-emphasize-small font-weight-bold">Hey there, cookie lover</p>
                        <p class="font-weight-bold text-emphasize-large pb-2">
                            Satisfy those cravings with cookies from your nearby cookie stop!
                        </p>
                        <div class="form-row">
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-lg form-control-round" placeholder="Enter your zip code" />
                                <input type="button" class="btn btn-outline-blue btn-round" value="Let's go!" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="torn-paper-cyber w-100 d-block"></div>
<div class="second-banner">
    <div class="container">
        <div class="pt-5">
            <div class="row d-flex align-items-center h-100">
                <div class="col-xs-4 col-sm-4 col-md text-center">
                    <img src="./images/02.png" class="image-500-200" />
                </div>
                <div class="col-xs-8 col-sm-8 col-md order-md-last order-sm-last order-lg-last">
                    <div class="container">
                        <p class="text-emphasize-large color-cookie-blue">Cookie Monster Approved</p>
                        <p class="text-emphasize-small text-justify">
                            Ut ut sem vel felis varius dapibus. Aenean accumsan eros quis mi luctus placerat. Nullam a
                            rutrum neque. Sed malesuada hendrerit lectus iaculis venenatis.
                        </p>
                        <p class="text-emphasize-small text-justify">
                            Pellentesque rhoncus ante et
                            magna viverra auctor. Maecenas ex odio, sodales sit amet neque eu, laoreet luctus urna.
                        </p>
                        <input type="submit" class="btn btn-outline-blue btn-round" value="See Our Cookies" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="third-banner">
    <div class="container">
        <div class="wrap-20">
            <img src="./images/e02.png" class="img-fluid" />
        </div>
        <p class="text-emphasize-medium ml-5 font-weight-bold color-pink">Cookies made with love</p>
        <p class="text-emphasize-small ml-5 pl-4">We are the reason why cookies are a world wide splendor</p>
    </div>
</div>
<div class="pt-5">
    <div class="fourth-banner">
        <div class="blockquote text-center" id="fourth-banner-inner">
        </div>
    </div>
</div>