<div class="wrap-50 bg-cyber">
    <div class="container">
        <div class="d-flex justify-content-center align-content-around">
            <img src="./images/p06.png" class="image-500-200">
            <div class="mt-5 font-weight-bold color-dijon">
                <p class="text-emphasize-small">HEY THERE, COOKIE LOVER,</p>
                <p class="text-emphasize-large">Satisfy those cravings with our succulent cookies</p>
                <input type="button" class="btn-round btn-outline-blue form-control-round" value="See Our Cookies">
            </div>
        </div>
    </div>
    <div class="torn-paper-cyber"></div>
</div>
