<div class="wrap-50 d-flex justify-content-center align-items-center" id="landing-banner">
    <div class="container">
        <div class="font-weight-light text-white">
            <p class="text-emphasize-small">HEY THERE, COOKIE LOVER,</p>
            <p class="text-emphasize-large">Satisfy those cravings with our succulent cookies!</p>
            <input type="button" class="btn-round btn-outline-blue form-control-round" value="See Our Cookies">
        </div>
    </div>
</div>