<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cookie Stop</title>
    <style type="text/css">
        .no-flash {display: none;}
    </style>

    <script type="text/javascript">
        document.documentElement.className = 'no-flash';
    </script>
</head>

<div id="loader">
    <i class="fas fa-cookie google-item"></i>
    <i class="fas fa-cookie google-item"></i>
    <i class="fas fa-cookie google-item"></i>
</div>

<body>
    <%- include navbar.ejs %>
    <div class="body-content">
        <form method="POST" action="/index">
            <div id="cart-side">
                <!--React Component goes here-->
            </div>
            <div class="near-sidebar">
                <%- body %>
            </div>
        </form>
    </div>
    <script src="/main.js" type="text/javascript"></script>
    <!--<script src="/vendors~cookies~index~main.js" type="text/javascript"></script>-->
    <!--<script src="/vendors~cookies~index~main~products.js" type="text/javascript"></script>-->
    </body>
    <div class="near-sidebar">
        <%- include footer.ejs %>
    </div>
</html>