<div class="wrap-100 d-flex justify-content-center align-items-center bg-dirty-white flex-column bottom-shadow" id="title-banner">
    <div class="container-fluid w-75 d-flex justify-content-center align-items-center flex-column">
        <div class="d-flex justify-content-center align-items-center flex-column mt-5 mb-2">
            <p class="text-emphasize-large font-weight-bold mb-4">Products</p>
            <p class="w-50 text-center">
                From flavorful menu creations to grab-and-go innovations, you won't believe what's being crafted in
                Cookie Stop ovens. Your guests will love the endless, better-for-you possibilities.
            </p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div id="serve-cookies" class="justify-content-center align-items-center p-5
             flex-column m-5 text-center">
                <img src="./images/cb01-S.png" class="image-200-200 mt-4"/>
                <h2 class="font-weight-bold mt-5 mb-3">Cookies</h2>
                <p class="mb-5">
                    Cookie Stop's cookies are made with so much love that you can feel it in every bite! Not only that.
                    But, these scrumptious pieces of delight are not only good for your taste buds they are also good
                    for your health.
                </p>
                <input type="button" value="Cookies" class="form-control-lg text-extra-small rounded-0 border-0 m-2 w-50 font-weight-bold bg-white text-dark">
                <input type="button" value="Download spec sheet" class="form-control-lg text-extra-small rounded-0 border-0 m-2 w-50 font-weight-bold bg-white text-dark">
            </div>
            <div id="serve-ice" class="d-flex justify-content-center align-items-center p-5 flex-column m-5 text-center">
                <img src="https://babcockhalldairystore.wisc.edu/wp-content/uploads/2017/09/Ice-Cream-Sandwich-transparent-background900x600.png" class="image-200-200 mt-4" />
                <h2 class="font-weight-bold mt-5 mb-3">Cookie Sandwiches</h2>
                <p class="mb-5">
                    Cookie Stop's cookie sandwiches are the real deal! These cookies are made to redefine delicious and
                    aim to satisfy you with every bite you take. So what are you waiting for? Drop everything, get ready
                    and take a bite!
                </p>
                <input type="button" value="Cookie sandwiches" class="form-control-lg text-extra-small rounded-0 border-0 m-2 w-50 font-weight-bold bg-white text-dark">
                <input type="button" value="Download spec sheet" class="form-control-lg text-extra-small rounded-0 border-0 m-2 w-50 font-weight-bold bg-white text-dark">
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center bg-white m-5">
            <div>
                <img src="https://images.unsplash.com/photo-1464979681340-bdd28a61699e?ixlib=rb-0.3.5&ixid=
                    eyJhcHBfaWQiOjEyMDd9&s=9962230a1213bfd754ed20ae96114c04&auto=format&fit=crop&w=1350&q=80"
                    class="image-400-200" />
            </div>
            <div class="d-flex justify-content-center align-items-center flex-column text-center p-5">
                <h3 class="font-weight-bold mb-3">Partner with us</h3>
                <p>
                    Seeking menu inspiration or on-the-go options? Team up with our bakers to bring dynamic, better-for-you flavors to your customers.
                </p>
                <input type="button" value="Contact us" class="form-control-lg text-extra-small rounded-0 border-0 m-2 w-50 font-weight-bold bg-dark text-white">
            </div>
        </div>
    </div>
        <!--https://images.unsplash.com/photo-1464979681340-bdd28a61699e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9962230a1213bfd754ed20ae96114c04&auto=format&fit=crop&w=1350&q=80-->
        <!--https://www.congressionalschool.org/wp-content/uploads/2017/09/Cookies-PNG-Photos.png-->
        <!--https://images.unsplash.com/photo-1464979681340-bdd28a61699e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9962230a1213bfd754ed20ae96114c04&auto=format&fit=crop&w=1350&q=80-->
</div>