<div class="bg-dirty-white flex-column bottom-shadow wrap-top-100">
    <div class="d-flex justify-content-center align-content-center py-2" id="trending-banner"></div>
</div>

<script src="/trending.js"></script>

