@import "globals";

.bg-kinda-blue {
  background-color: $kinda-blue
}

.bg-black {
  background-color: black;
}

.bg-cyber {
  background-color: $cyber;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 1);
}

.bg-dirty-white {
  background-color: $dirty-white;
}