@import "globals";

.product-desc {
  transition: opacity 0.4s linear;
  opacity: 0;
  & p {
    opacity: 0;
  }
  & h4 {
    opacity: 0;
  }
  &.active {
    opacity: 1;
    & p {
      opacity: 1;
    }
    & h4 {
      opacity: 1;
    }
  }
}

#arrow-forward {
  transform: translate3d(100%, 0, 0);
}
#arrow-backward {
  transform: translate3d(-100%, 0, 0);
}

#product-container {
  transition: transform 500ms ease-in-out;
  padding: 0 70px;
  height: 400px;
  width: 100%;
}

#product-slide {
  &:hover {
    .arrow {
      transform: translate3d(0,0,0);
    }
  }
}

.item {
  transition: filter 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  filter: brightness(30%);
  padding: 0 70px;


  & img {
    max-height: 100%;
  }

  &.active {
    filter: none;
  }
}

.item-shift {
  transform: translate3d(-50%, 0, 0);
}

.nav-arrow {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 100%;
  width: 10vw;
  z-index: 1;
  cursor: default;
}

.arrow {
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  position: absolute;
  background-color: $cookie-brown;
  cursor: pointer;
  &:hover {
    transform: translate3d(0, 0, 0) scale(1.2) !important;
  }
  &.inactive {
    opacity: 0.5;
    &:hover {
      transform: none !important;
      cursor: default;
    }
  }
}

.pos-left {
  left: 0;
}

.pos-right {
  right: 0;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

table td, table th {
  padding: 9px 23px;
  border: 1px solid black;
}