@import "globals";

#landing-banner {
  min-height: 90vh;
  background-image: url('../../../dist/app/images/cw03-T.jpg');
  background-size: cover;
}

#landing-inner {
  width: 100%;
  @include respond-to(desktop-up) {
    width: 50%;
  }
}

#everyday-cookies {
  background-color: $dirty-white;
  min-height: 80vh;
}

#landing-text {
  transition: opacity 3s ease-in-out;
}

#product-banner {
  background-image: url('../../../dist/app/images/cw04-T.jpg');
  background-size: cover;
  height: auto;
  padding: 30px;
  @include respond-to(tablet-landscape-up) {
    height: 60vh;
    padding: 0;
  }
}

#engagement-banner {
  background-color: #f3f3f5;
  overflow: hidden;
  position: relative;
}

#engagement-container {
  transition: transform 0.3s ease-in-out;
  -webkit-transform: translate3d(270px, 0, 0);
  -moz-transform: translate3d(270px, 0, 0);
  -ms-transform: translate3d(270px, 0, 0);
  -o-transform: translate3d(270px, 0, 0);
  transform: translate3d(270px, 0, 0);
  @include respond-to(tablet-portrait-up) {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#news-banner {
  background-image: url('../../../dist/app/images/mail02-T.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  height: auto;
  padding: 30px;
  @include respond-to(desktop-up) {
    height: 60vh;
  }
}

.card-item-image {
  transition: border-width 0.2s ease-in-out;
  border: 10px solid white;

  &:hover {
    border: 5px solid white;
  }
}

.opacity-0 {
  opacity: 0;
}

.link-arrow {
  margin-left: 10px;
  transition: margin-left 0.3s ease-in-out;
}

a {
  &.text-plain {
    &:hover {
      .link-arrow {
        margin-left: 20px;
      }
    }
  }
}

#serve-ice {
  background-size: cover;
  background: url("../../../dist/app/images/cw07-T.jpg") center;
  align-self: stretch;
  color: white;
  margin-left: 0;
  margin-top: 30px;
  @include respond-to(desktop-up) {
    margin-left: 30px;
    margin-top: 0;
  }
}

#partner-banner {
  margin: 18px 18px 36px 18px;
}

#serve-cookies {
  background-size: cover;
  background: url("../../../dist/app/images/cw06-T.jpg") center;
  align-self: stretch;
  color: white;
  margin-right: 0;
  margin-top: 30px;
  @include respond-to(desktop-up) {
    margin-right: 30px;
    margin-top: 0;
  }
}

#products-header {
  margin-top: 7rem;
}

.nav-arrow {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 10vw;
  z-index: 1;
  background-color: transparent;
  @include respond-to(tablet-landscape-up) {
    display: none;
  }
}

#engagement-nav-backward {
  left: 0;
}

#engagement-nav-forward {
  right: 0;
}

.indicator {
  transition: background-color 0.3s ease-in-out;
  width: 12px;
  height: 12px;
  margin: 2px;
  background-color: white;
  border: 1.5px solid $cookie-brown;
  border-radius: 350px;

  &.active {
    background-color: $cookie-brown;
  }

  @include respond-to(tablet-landscape-up){
    display: none;
  }
}