@import "globals";

#landing-banner {
  min-height: 90vh;
  background-image: url('https://images.unsplash.com/photo-1543365268-463f48b3704a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=' +
    '75c5df1043b38984e968aec83450a750&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
}

#landing-inner {
  width: 100%;
  @include respond-to(desktop-up) {
    width: 50%;
  }
}

#everyday-cookies {
  background-color: $dirty-white;
  min-height: 80vh;
}

#landing-text {
  transition: opacity 3s ease-in-out;
}

#product-banner {
  background-image: url('https://i.imgur.com/Upmqm1g.jpg');
  background-size: cover;
  height: auto;
  padding: 30px;
  @include respond-to(tablet-landscape-up) {
    height: 60vh;
    padding: 0;
  }
}

#engagement-banner {
  background-color: #f3f3f5;
  overflow: hidden;
  position: relative;
}

#engagement-container {
  transition: transform 0.3s ease-in-out;
  -webkit-transform: translate3d(270px, 0, 0);
  -moz-transform: translate3d(270px, 0, 0);
  -ms-transform: translate3d(270px, 0, 0);
  -o-transform: translate3d(270px, 0, 0);
  transform: translate3d(270px, 0, 0);
  @include respond-to(tablet-landscape-up) {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#news-banner {
  background-image: url('https://images.unsplash.com/photo-1543366883-b1051ec69cff?ixlib=' +
    'rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf5fe4b00f0a604e755e1fdc3aff7de8&auto=format&fit=crop&w=1350&q=80');
  -webkit-background-size: cover;
  background-size: cover;
  height: auto;
  padding: 30px;
  @include respond-to(desktop-up) {
    height: 60vh;
  }
}

.opacity-0 {
  opacity: 0;
}

.link-arrow {
  margin-left: 10px;
  transition: margin-left 0.3s ease-in-out;
}

a {
  &.text-plain {
    &:hover {
      .link-arrow {
        margin-left: 20px;
      }
    }
  }
}

.nav-arrow {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 10vw;
  z-index: 1;
  background-color: transparent;
  @include respond-to(tablet-landscape-up) {
    display: none;
  }
}

#engagement-nav-backward {
  left: 0;
}

#engagement-nav-forward {
  right: 0;
}

.indicator {
  transition: background-color 0.3s ease-in-out;
  width: 12px;
  height: 12px;
  margin: 2px;
  background-color: white;
  border: 1.5px solid $cookie-brown;
  border-radius: 350px;

  &.active {
    background-color: $cookie-brown;
  }

  @include respond-to(tablet-landscape-up){
    display: none;
  }
}