@import "globals";

#landing-banner {
  min-height: 90vh;
  background-image: url('../../../dist/app/images/cw03-T.jpg');
  background-size: cover;
}

#landing-inner {
  width: 50%;
  @include respond-to(smartphones){
    width: 100%;
  }
}

#everyday-cookies {
  background-color: $dirty-white;
  min-height: 80vh;
}

#landing-text {
  transition: opacity 3s ease-in-out;
}

#product-banner {
  background-image: url('../../../dist/app/images/cw04-T.jpg');
  background-size: cover;
  height: 60vh;
  @include respond-to(smartphones){
    height: 70vh;
  }
}

#engagement-banner{
  background-color: #f3f3f5;
}

#news-banner {
  background-image: url('../../../dist/app/images/mail02-T.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  height: 60vh;
  box-shadow: 1px 10px 10px 5px gray;
  @include respond-to(smartphones) {
    height: 70vh;
  }
}

.card-item-image {
  transition: border-width 0.2s ease-in-out;
  border: 10px solid white;
  &:hover {
    border: 5px solid white;
  }
}

.hidden {
  opacity: 0;
}

.link-arrow {
  margin-left: 10px;
  transition: margin-left 0.3s ease-in-out;
}

a {
  &.text-plain {
    &:hover {
      .link-arrow {
        margin-left: 20px;
      }
    }
  }
}