@import "globals";

.wrap-20 {
  padding: 20px;
}

.wrap-30 {
  padding: 30px;
}

.wrap-50 {
  padding: 50px;
}

.wrap-100 {
  padding: 100px;
}

.-mt-30 {
  margin-top: -30px;
}

.m-5-1r {
  margin: 1rem;
  @include respond-to(desktop-up) {
    margin: 5rem;
  }
}

.m-10-10 {
  margin: 10px;
}

.pad-sm-0 {
  @include respond-to(phone-only) {
    padding: 0 !important;
  }
}

.w-25-70-100 {
  width: 100%;
  @include respond-to(tablet-portrait-up) {
    width: 70%;
  }
  @include respond-to(desktop-up) {
    width: 50%;
  }
  @include respond-to(big-desktop-up) {
    width: 25%;
  }
}

.w-75-100 {
  width: 100%;
  @include respond-to(tablet-portrait-up){
    width: 75%;
  }
}

.image-500-200 {
  height: 200px;
  width: auto;
  @include respond-to(desktop-up) {
    height: 500px;
  }
}

.image-100-100 {
  width: auto;
  height: 100px;
}

.image-200-150 {
  width: auto;
  height: 150px;
  @include respond-to(tablet-potrait-up) {
    height: 200px;
  }
}

.image-300-200 {
  height: 200px;
  width: auto;
  @include respond-to(desktop-up) {
    height: 300px;
  }
}

.image-350-270 {
  width: 270px;
  height: auto;
  @include respond-to(desktop-up) {
    width: 350px;
  }
}

.image-cover {
  object-fit: cover;
  width: 100%;
}

.image-475-250 {
  width: auto;
  height: 250px;
  @include respond-to(tablet-portrait-up) {
    height: 475px;
  }
}

.flex-mobile-column {
  //width: 50%;
  flex-direction: column;
  @include respond-to(desktop-up) {
    flex-direction: row;
  }
}

.c-flex-column {
  flex-direction: row;
  @include respond-to(desktop-up) {
    flex-direction: column;
  }
}

.p-90 {
  padding: 90px;
}

.mobile-hidden {
  @include respond-to(phone-only) {
    display: none !important;
  }
}

.content-hidden {
  display: none;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.nav-arrow {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 100%;
  width: 10vw;
  z-index: 1;
}

.arrow {
  transition: transform 300ms ease-in-out;
  position: absolute;
  background-color: $cookie-brown;
  cursor: pointer;
  &:hover {
    transform: translate3d(0, 0, 0) scale(1.2) !important;
  }
  &.inactive {
    opacity: 0.5;
  }
}

.pos-left {
  left: 0;
}

.pos-right {
  right: 0;
}

#arrow-forward {
  transform: translate3d(100%, 0, 0);
}
#arrow-backward {
  transform: translate3d(-100%, 0, 0);
}

#product-container {
  transition: transform 500ms ease-in-out;
  padding: 0 70px;
  height: 400px;
  width: 100%;
}

#product-slide {
  &:hover {
    .arrow {
      transform: translate3d(0,0,0);
    }
  }
}

.item {
  transition: filter 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  filter: brightness(30%);
  padding: 0 70px;
  /*shift each item if we have an even number of itemCount*/


  & img {
    max-height: 100%;
  }

  &.active {
    filter: none;
  }
}

.item-shift {
  transform: translate3d(-50%, 0, 0);
}

.wrap-top-50 {
  padding-top: 50px;
}

.wrap-top-100 {
  padding-top: 100px;
}

.product-desc {
  transition: opacity 300ms ease-in-out;
  opacity: 0;
  &.active {
    opacity: 1;
  }
}

.w-70 {
  width: 70%;
  @include respond-to('tablet-portrait-up'){
    width: 40%;
  }
}