@import "globals";

.wrap-20 {
  padding: 20px;
}

.wrap-30 {
  padding: 30px;
}

.wrap-50 {
  padding: 50px;
}

.wrap-100 {
  padding: 100px;
}

.-mt-30 {
  margin-top: -30px;
}

.m-5-1r {
  margin: 1rem;
  @include respond-to(desktop-up) {
    margin: 5rem;
  }
}

.m-10-10 {
  margin: 10px;
}

.pad-sm-0 {
  @include respond-to(phone-only) {
    padding: 0 !important;
  }
}

.w-25-70-100 {
  width: 100%;
  @include respond-to(tablet-portrait-up) {
    width: 70%;
  }
  @include respond-to(desktop-up) {
    width: 50%;
  }
  @include respond-to(big-desktop-up) {
    width: 25%;
  }
}

.w-75-100 {
  width: 100%;
  @include respond-to(tablet-portrait-up){
    width: 75%;
  }
}

.image-500-200 {
  height: 200px;
  width: auto;
  @include respond-to(desktop-up) {
    height: 500px;
  }
}

.image-100-100 {
  width: auto;
  height: 100px;
}

.image-200-150 {
  width: auto;
  height: 150px;
  @include respond-to(tablet-potrait-up) {
    height: 200px;
  }
}

.image-300-200 {
  height: 200px;
  width: auto;
  @include respond-to(desktop-up) {
    height: 300px;
  }
}

.image-350-270 {
  width: 270px;
  height: auto;
  @include respond-to(desktop-up) {
    width: 350px;
  }
}

.image-cover {
  object-fit: cover;
  width: 100%;
}

.image-475-250 {
  width: auto;
  height: 250px;
  @include respond-to(tablet-portrait-up) {
    height: 475px;
  }
}

.flex-mobile-column {
  //width: 50%;
  flex-direction: column;
  @include respond-to(desktop-up) {
    flex-direction: row;
  }
}

.c-flex-column {
  flex-direction: row;
  @include respond-to(desktop-up) {
    flex-direction: column;
  }
}

.p-90 {
  padding: 90px;
}

.mobile-hidden {
  @include respond-to(phone-only) {
    display: none !important;
  }
}

.content-hidden {
  display: none;
}