@import "globals";

.wrap-20 {
  padding: 20px;
}

.wrap-30 {
  padding: 30px;
}

.wrap-50 {
  padding: 50px;
}

.wrap-100 {
  padding: 100px;
}

.-mt-30 {
  margin-top: -30px;
}

.m-5-1r {
  margin: 1rem;
  @include respond-to(desktop-up) {
    margin: 5rem;
  }
}

.m-10-10 {
  margin: 10px;
}

.pad-sm-0 {
  @include respond-to(phone-only) {
    padding: 0 !important;
  }
}

.w-25-70-100 {
  width: 100%;
  @include respond-to(tablet-portrait-up) {
    width: 70%;
  }
  @include respond-to(desktop-up) {
    width: 50%;
  }
  @include respond-to(big-desktop-up) {
    width: 25%;
  }
}

.w-75-100 {
  width: 100%;
  @include respond-to(tablet-portrait-up){
    width: 75%;
  }
}

.w-40-70 {
  width: 70%;
  @include respond-to(tablet-portrait-up){
    width: 40%;
  }
}

.w-40-100 {
  width: 100%;
  @include respond-to(tablet-portrait-up) {
    width: 40%;
  }
}

.w-40-70-100 {
  width: 100%;
  @include respond-to(tablet-portrait-up) {
    width: 70%;
  }
  @include respond-to(desktop-up) {
    width: 40%;
  }
}

.w-25-100 {
  width: 25%;
  @include respond-to(tablet-portrait-up){
    width: 100%;
  }
}

.w-300px {
  width: 300px;
}

.m-15-5 {
  margin: 5px;
  @include respond-to(desktop-up) {
    margin: 15px;
  }
}

.image-500-200 {
  height: 200px;
  width: auto;
  @include respond-to(desktop-up) {
    height: 500px;
  }
}

.image-100-100 {
  width: auto;
  height: 100px;
}

.image-200-150 {
  width: auto;
  height: 150px;
  @include respond-to(tablet-potrait-up) {
    height: 200px;
  }
}

.image-300-200 {
  height: 200px;
  width: auto;
  @include respond-to(desktop-up) {
    height: 300px;
  }
}

.image-350-270 {
  width: 270px;
  height: auto;
  @include respond-to(desktop-up) {
    width: 350px;
  }
}

.image-350-100p {
  height: auto;
  width: 100%;
  @include respond-to(desktop-up) {
    width: 350px;
  }
}

.image-cover {
  object-fit: cover;
  width: 100%;
}

.image-475-250 {
  width: auto;
  height: 250px;
  @include respond-to(tablet-portrait-up) {
    height: 475px;
  }
}

.flex-mobile-column {
  //width: 50%;
  flex-direction: column;
  @include respond-to(desktop-up) {
    flex-direction: row;
  }
}

.c-flex-column {
  flex-direction: row;
  @include respond-to(desktop-up) {
    flex-direction: column;
  }
}

.flex-grow-50 {
  flex: 1 0 50%;
}

.flex-grow-50-lg {
  flex-grow: 0;
  @include respond-to(desktop-up) {
    flex: 1 0 50%;
  }
}

.p-90 {
  padding: 90px;
}

.mobile-hidden {
  @include respond-to(phone-only) {
    display: none !important;
  }
}

.content-hidden {
  display: none;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}


.wrap-top-50 {
  padding-top: 50px;
}

.wrap-top-100 {
  padding-top: 100px;
}

.pad-big-5 {
  padding: 1rem;
  @include respond-to(tablet-portrait-up) {
    padding: 3rem;
  }
}

.cookie-container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @include respond-to(big-desktop-up) {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
  @include respond-to(tablet-portrait-up) {
    margin-left: auto;
    margin-right: auto;
  }
}

.card-item-image {
  transition: border-width 0.2s ease-in-out;
  border: 10px solid white;

  &:hover {
    border: 5px solid white;
  }
}

.w-min {
  width: min-content;
}

.order-1-0 {
  order: 0;
  @include respond-to(desktop-up) {
    order: 1;
  }
}

.no-pointer {
  pointer-events: none;
}

.sm-center {
  align-items: center;
  justify-content: center;
  text-align: center;
  @include respond-to(desktop-up) {
    align-items: stretch;
    text-align: initial;
  }
}
