@import "globals";

.wrap-20 {
  padding: 20px;
}

.wrap-30 {
  padding: 30px;
}

.wrap-50 {
  padding: 50px;
}

.wrap-100 {
  padding: 100px;
}

.-mt-30{
  margin-top: -30px;
}

.m-5-1r {
  margin: 5rem;
  @include respond-to(smartphones) {
    margin: 1rem;
  }
}

.w-25-100{
  width: 25%;
  @include respond-to(smartphones){
    width: 100%;
  }
}

.image-500-200 {
  width: auto;
  height: 500px;
  @include respond-to(smartphones) {
    width: auto;
    height: 200px;
  }
}

.image-100-100 {
  width: auto;
  height: 100px;
}

.image-200-200 {
  width: auto;
  height: 200px;
}

.image-300-200 {
  width: auto;
  height: 300px;
  @include respond-to(smartphones){
    height: 200px;
  }
}

.image-350-270 {
  width: 350px;
  height: auto;
  @include respond-to(smartphones){
    width: 270px;
    height: auto;
  }
}

.image-400-200 {
  width: auto;
  height: 400px;
}

.flex-mobile-column {
  width: 50%;
  flex-direction: row;
  @include respond-to(smartphones){
    flex-direction: column;
  }
  @include respond-to(tablets){
    flex-direction: column;
  }
}

.flex-tablet-row {
  flex-direction: column;
  @include respond-to(tablets){
    flex-direction: row;
  }
}

.shrinkable {
  min-width: 0;
  @include respond-to(smartphones){
    margin-bottom: 5px;
  }
}

.p-90 {
  padding: 90px;
}

.mobile-hidden {
  @include respond-to(smartphones){
    display: none !important;
  }
}